[build]
builder = "nixpacks"
buildCommand = """
python -m venv venv
source venv/bin/activate
pip install -r requirements.txt
cd backend
python manage.py collectstatic --noinput
python manage.py migrate
"""

[deploy]
startCommand = "cd backend && gunicorn parliament.wsgi:application --log-file -"
healthcheckPath = "/admin/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"

[env]
PYTHON_VERSION = "3.11.0"
PORT = "8000" 